# Configuration pour Barista Café
# Copiez ce fichier vers .env et modifiez les valeurs

# Base de données PostgreSQL
DATABASE_URL=postgresql://postgres:BVXDxtWuZfTJkpjLRMaxNQFhaVWyZTxg@switchback.proxy.rlwy.net:11181/railway



# Configuration de l'application
NODE_ENV=development
JWT_SECRET=changez_ce_secret_pour_la_production

# Port du serveur (optionnel, par défaut 5000)
PORT=5000